<nav >
  <ul class="pagination">
    <li 
      Class="page-item"
      
      [appClassDirective]="{disabled: currentPage===0 }"
    >
      <a class="page-link" (click)="currentPage=currentPage-1">Prev</a>
    </li>
    <ng-container *appTimes="images.length; let i =index" >
      <li 
        class="page-item" 
        [appClassDirective]="{active: i===currentPage}"
        
        *ngIf="checkSiteIndex(i)"
      >
        <a (click)="currentPage=i" class="page-link" >{{i+1}}</a>
      </li>
    </ng-container>
    <li 
      Class="page-item"
      [appClassDirective]="{disabled: currentPage===images.length-1 }" 
    >
      <a class="page-link" (click)="currentPage=currentPage+1">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>
    {{images[currentPage].title}}
  </h4>
  <img [src]= "images[currentPage].url">
</div>

<ul *appTimes="5">
  <li>Hi there!
  </li>
</ul>
